@import "../style/vars";

.title {
  color: $secondary;
  font-size: 20px;
  margin: 0 0 8px 0;
}

.quick-links {
  margin: 0 0 8px 0;

  a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }


  a > svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    color: $secondary;
    fill: currentColor
  }
}

.about-me-section,
.work-experience-section,
.education-section {
  margin: 0 0 16px 0;
}

.work-experience-section {
  .job {
    margin: 0 0 12px 0;

    &-title {
      color: $secondary;
      font-size: 18px;
    }

    &-subtitle {
      font-size: 15px;
      color: lighten($secondary, 10%);
      margin: 0 0 4px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.education-section {
  .school {
    margin: 0 0 12px 0;
    
    &-title {
      color: $secondary;
      font-size: 18px;
    }

    &-degree {
      font-size: 15px;
      color: lighten($secondary, 10%);
      margin: 0 0 4px 0;
    }
  }
}