body {
  color: $text-color;
  background: #fff;
  /** Removes nav jitter w/ scrollbar being only on some pages */
  width: calc(100vw - 34px);
}

.site {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 970px;
}

.sidebar {
  flex: 0 0 200px;

  .header {
    text-align: center;
    margin: 32px 0 16px 0;

    .logo {
      width: 160px;
      height: 160px;
      line-height: 0;
      border-radius: 14px;
      overflow: hidden;
      margin: 0 auto 8px;
      display: block;

      > img {
        width: 100%;
      }
    }

    .name {
      font-size: 18px;
    }
  }

  .nav {
    position: sticky;
    top: 0;
    color: #2b2d42;
    padding: 5px 0;

    ol {
      list-style: none;
      margin: 0;

      li {
        margin: 0 0 4px 0;

        a {
          display: block;
          padding: 4px 16px;

          &:hover {
            text-decoration: none;
            color: $secondary-text;
            background: $secondary-accent;
          }
        }

        a.active {
          color: $primary-text;
          background: $primary-accent;
          border-right: 4px solid $primary;
        }
      }

      .sub-nav-list {
        li > a {
          padding-left: 28px;
        }
      }

      h2 {
        color: $secondary;
        margin: 0 16px 4px;
        @include relative-font-size(1);
      }
    }
  }

}

.content {
  padding: 16px 32px;
  flex: 1 1 auto;
  overflow: hidden;
  min-width: 400px;

  .footer {
    margin: 8px 0;
    font-size: 12px;
  }
}

// Page/Post layout.
.post {

  .post-header h1 {
    font-size: 40px;
  }

  ul, ol {
    margin-left: 24px;
  }
  
  p, ul, ol {
    margin-bottom: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .post-content {
    line-height: 1.8;
    @include relative-font-size(1);
  }
}
